.banner-tnl {
  display: flex;
  background-position: 100% 50%;
  background-size: 50%;
  background-repeat: no-repeat;
  margin-left: 60px;
  margin-right: 60px;
  overflow: hidden;
  border-bottom-right-radius: 15px;
  border-bottom-left-radius: 15px;
  &__contant,
  .image {
    flex: 1 1 50%;
  }
  &__contant {
    background-color: var(--primary-theme);
    display: flex;
    .container {
      display: flex;
      margin: auto 0;
      flex-wrap: wrap;
      padding: 0 0 0 200px;
      color: var(--white);
      p {
        flex: 1 1 100%;
      }
    }
  }

  .image {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  // &__contant {
  //   padding: 5% 0;
  //   color: var(--white);
  // }

  h1 {
    // padding: 20% 0;
  }
}
