:root {
  //Colors
  --primary-theme: #eea5a6;
  --white: #ffffff;
  --black: #302f2f;
  --green: #c3ddd1;
  --green-dark: #daedef;
  --grey: #e7dfdd;
  --goal-bg: #dfcdbf;
  //fonts
  --objective: "objektiv-mk2", sans-serif;
  --play: "Playfair Display", serif;
}
