.button {
  border-radius: 50px;
  color: var(--black);
  font-weight: 700;
  font-size: 13px;
  padding: 5px 20px;
  max-width: 260px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;

  &__white {
    color: var(--white);
    border: 1px solid var(--white);
    @media (hover: hover) {
      &:hover {
        background-color: var(--primary-theme);
      }
    }
  }

  &__primary {
    border: 1px solid var(--black);

    @media (hover: hover) {
      &:hover {
        background-color: var(--primary-theme);
        border: 1px solid var(--primary-theme);
      }
    }
  }

  &__black {
    border: 1px solid var(--black);
    background-color: var(--black);
    color: var(--white);

    &.added {
      background-color: var(--primary-theme);
      border: 1px solid var(--primary-theme);
    }

    @media (hover: hover) {
      &:hover {
        background-color: transparent;
        color: var(--black);
      }
    }
  }
}
