h1,
h2,
h3,
h4,
h5,
h6,
.sub-title {
  font-weight: 600;
  line-height: 1.2;
}

h1 {
  font-size: clamp(2rem, 2.5vw + 1rem, 3rem);
}

h4 {
  font-size: 24px;
}

h5 {
  font-size: 16px;
}

h2 {
  font-size: clamp(24px, 2.5vw + 1rem, 35px);
}

@for $i from 1 through 6 {
  h#{7 - $i} {
    span {
      @extend %custom-span;
    }

    &.title-tnl {
      font-size: clamp(25px, 2.5vw + 1rem, 35px);
    }
  }
}
