input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"],
input[type="number"],
input[type="tel"],
input[type="date"],
input[type="month"],
input[type="week"],
input[type="time"],
input[type="datetime"],
input[type="datetime-local"],
input[type="color"],
textarea {
  padding: 0.5em 1em;
  border: none;
  border-radius: 50px;
  width: 100%;
  background: transparent;
  border: 1px solid var(--black);
  font-family: var(--objective);
  font-size: 14px;

  &::placeholder {
    color: var(--black);
  }

  &:focus {
  }

  &:active {
    // background-color: forestgreen;
  }
}
