.mega_menu {
  position: absolute;
  background: linear-gradient(
    180deg,
    rgba(255, 255, 255, 1) 0%,
    rgba(255, 255, 255, 1) 5%,
    rgba(255, 255, 255, 1) 100%
  );
  width: 100%;
  top: 100%;
  left: 0;
  z-index: 1;
  visibility: hidden;
  opacity: 0;
  transition: all 0.25s;
  .megaMenu {
    width: 100%;
    &__menu-mg,
    &__menu-mm {
      padding: 40px;
    }

    &__menu-mg {
      display: flex;
      flex-direction: column;
      flex: 1 1 10%;
      align-items: end;
      gap: 20px;

      &_link {
        text-transform: none;
        line-height: 1.1;
        letter-spacing: 0;
        font-size: 16px;
        font-weight: 400;

        &.active {
          color: var(--primary-theme);
        }
      }
    }
    .weight-title {
      font-weight: 600;
      margin-bottom: 10px;
      text-transform: uppercase;
    }
    &__menu-mm {
      flex: 1 1 60%;
      display: flex;
      &_wrap {
        margin-left: auto;

        .products {
          display: flex;
          gap: 10px;
          li {
            img {
              border-radius: 12px;
            }
            a {
              display: flex;
              align-items: start;
              flex-direction: column;
              gap: 15px;
              text-transform: none;
              line-height: 0;
              letter-spacing: 0;
              font-size: 14px;
              font-weight: 500;
            }
          }
        }
      }
    }

    &__item {
      display: none;
      &.active {
        display: flex;
      }

      &_submenu {
        &-list {
          li {
            margin-bottom: 10px;
          }
        }
      }
    }

    &__adds {
      margin-left: auto;
      img {
        max-width: 600px;
      }
    }
  }
}
