.self-diagnosis-tnl {
  padding: 25px 0 0;
  display: flex;
  flex-wrap: wrap;
  @media (min-width: map-get($grid-breakpoints, md)) {
    padding: 50px 0 0;
  }

  &__left,
  &__right {
    flex: 1 1 100%;
    @media (min-width: map-get($grid-breakpoints, md)) {
      flex: 0 1 50%;
    }
  }

  &__left {
    @media (max-width: map-get($grid-breakpoints, md)) {
      align-items: center;
      text-align: center;
    }
    background-color: #f2cece;
    background-image: url(../assets/icons/okr.svg);
    background-position: center bottom;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: center;
    padding: 50px 20px;
    @media (min-width: map-get($grid-breakpoints, md)) {
      padding-left: calc(35vw / 2);
      padding-right: 50px;
    }

    &_title {
      font-size: clamp(25px, 3vw, 35px);
      font-weight: 700;
      span {
        @extend %custom-span;
      }
    }
  }

  &__right {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 70vw;
    @media (min-width: map-get($grid-breakpoints, md)) {
      min-height: 450px;
    }
  }
}
