.shop-tnl {
  display: flex;
  list-style: none;
  flex-wrap: wrap;
  gap: 20px;
  flex: 1 1 100%;
  .woocommerce-breadcrumb {
    flex: 1 1 100%;
    margin-bottom: 20px;
  }

  > li {
    flex: 1 1 100%;

    &.product {
      @media (min-width: map-get($grid-breakpoints, lg)) {
        max-width: calc((100% / 4) - 20px);
      }
    }

    @media (min-width: map-get($grid-breakpoints, sm)) {
      flex: 0 1 calc((100% / 2) - 20px);
    }

    @media (min-width: map-get($grid-breakpoints, lg)) {
      flex: 1 1 calc((100% / 4) - 20px);
    }
  }
}
