.shop-banner-tnl {
  margin: 0 15px 50px;
  .container {
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    justify-content: center;
    color: var(--white);
    border-radius: 15px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 200%;
    padding: 0;
    min-height: 30vh;

    @media (min-width: map-get($grid-breakpoints, lg)) {
      background-position: bottom;
      background-size: 150%;
      min-height: 400px;
    }

    h1 {
      padding-bottom: 20px;
      border-bottom: 1px solid var(--white);
    }
  }
}
