body {
  &.single-post {
    .banner-tnl {
      flex-direction: row-reverse;
      h1 {
        font-size: clamp(25px, 3vw, 35px);
        margin: 60px 0;
        @media (min-width: map-get($grid-breakpoints, md)) {
          margin: 100px 0;
        }
      }

      &__right {
        border-bottom-left-radius: 15px;
        border-bottom-right-radius: 15px;
        @media (min-width: map-get($grid-breakpoints, md)) {
          border-bottom-left-radius: 15px;
          border-bottom-right-radius: 0px;
        }
      }

      &__left {
        border-bottom-left-radius: 0px;
        border-bottom-right-radius: 0px;
        color: var(--black);
        padding: 40px 20px;
        @media (min-width: map-get($grid-breakpoints, md)) {
          border-bottom-right-radius: 15px;
          padding: 100px;
        }

        .art-cat {
          display: inline-flex;
        }
      }

      .post-autor-data {
        display: flex;
        align-items: center;
        gap: 20px;

        img {
          background-color: var(--white);
          border: 1px solid var(--black);
          border-radius: 50%;
          padding: 10px;
        }

        a {
          font-weight: 700;
          border-bottom: 1px solid var(--black);
        }
      }
    }
    .entry-content {
      max-width: 811px;
      margin: 0 auto;
      > p,
      h2,
      h3,
      h4,
      h5,
      h6,
      blockquote {
        padding: 25px 0;
        // &:not(:first-child) {
        //   background-color: green;
        // }
        // &:not(:last-child) {
        //   background-color: red;
        // }
      }
    }
  }
}
