@use "../sass/components/_breakpoints" as b;
.banner-calc-smpl-tnl {
  display: flex;
  overflow: hidden;
  align-items: center;
  justify-content: center;
  margin: 0 15px;
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 60vh;
  background-position: right 25% bottom 100%;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  position: relative;

  @media (min-width: map-get(b.$grid-breakpoints, md)) {
    background-position: center top;
    min-height: 490px;
  }

  @media (min-width: map-get(b.$grid-breakpoints, lg)) {
    margin-left: 60px;
    margin-right: 60px;
    min-height: 300px;
  }

  &__wrap {
    text-align: center;
    color: var((--black));
    padding: 0 25px;
    margin: 0 auto;
    @media (min-width: map-get(b.$grid-breakpoints, md)) {
      max-width: 900px;
    }

    h1 {
      padding-bottom: 20px;
      border-bottom: 1px solid var(--black);
      margin-bottom: 20px;
    }
  }
}
