.faq {
  list-style: none;
  display: flex;
  flex-direction: column;

  > li {
    text-align: start;
    border-bottom: 1px solid var(--grey);
  }

  &__question {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: 600;
    padding: 30px;

    @media (hover: hover) {
      &:hover {
        cursor: pointer;
      }
    }

    p {
      font-size: 14px;

      font-weight: bold;
      @media (min-width: map-get($grid-breakpoints, md)) {
        font-size: 16px;
      }
    }

    button {
      background: transparent;
      border: 0;
      position: relative;
      transition: 0.3s;
      border-radius: 2px;
      display: flex;
      justify-content: center;
      align-items: center;

      div {
        margin: 15px;
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        width: 15px;
        height: 15px;
        transition: 0.3s;
        position: relative;

        &::before {
          content: "";
          display: block;
          position: absolute;
          transition: transform 0.3s ease;
          width: 24px;
          height: 24px;
          background-image: url(../assets/icons/down.svg);
          background-repeat: no-repeat;
          background-position: center;
        }
      }

      @media (hover: hover) {
        &:hover {
          cursor: pointer;
        }
      }

      &.active {
        div {
          &::before {
            transform: rotate(180deg);
          }
        }
      }
    }
  }

  &__answer {
    display: none;
    padding: 30px;
    border-top: 1px solid var(--grey);

    ul {
      list-style: disc;

      li {
        padding: 5px;
        display: flex;
        gap: 10px;
        padding-right: 20px;
        margin-left: 20px;
        display: list-item;
        a {
          color: var(--black);
          @media (hover: hover) {
            &:hover {
              color: var(--red-theme);
            }
          }
        }
      }
    }
  }
}
