body {
  &.post-type-archive-product,
  &.tax-product_cat,
  &.tax-product_tag {
    .products-wrap-tnl {
      padding: 20px 0;
      display: flex;
      gap: 20px;
      flex-wrap: wrap;

      .custom-sidebar-shop {
        // display: none;
        flex: 1 1 100%;
        .widget_product_categories {
          list-style: none;

          .product-categories {
            list-style: none;
            display: flex;
            gap: 10px;
            border-radius: 20px;
            font-size: 14px;

            li {
              font-size: 12px;
              padding: 5px 2em;
              border: 1px solid var(--black);
              border-radius: 50px;
              font-weight: 400;
              &.current-cat {
                display: inline-block;
                font-weight: 700;
                background: var(--black);
                border: 1px solid var(--black);
                a {
                  color: var(--white);
                }
              }
            }
          }
        }
      }
    }

    .woocommerce-pagination {
      display: flex;
      .page-numbers {
        list-style: none;
        margin: 0 auto;
        gap: 10px;
        display: inline-flex;
        align-items: center;
        justify-content: center;
        min-width: 34px;
        height: 34px;
        color: var(--color-gray-900);
        font-weight: 600;
        font-size: 14px;
        border-radius: calc(var(--wd-brd-radius) / 1.5);
        transition: all 0.2s ease;

        li {
          span {
            &.current {
              border-radius: 50px;
              color: #fff;
              background-color: var(--primary-theme);
            }
          }

          a {
            border-radius: 50px;
            @media (hover: hover) {
              &:hover {
                color: #fff;
                background-color: var(--primary-theme);
              }
            }
          }

          &:is(.next, .prev) {
            font-size: 0;
            &:before {
              font-size: 12px;
              content: "\f113";
              font-family: "woodmart-font";
            }
          }
        }
      }
    }
  }
}
