body {
  &.post-type-archive-product,
  &.tax-product_cat,
  &.tax-product_tag {
    .products-wrap-tnl {
      padding: 20px 0;
      display: flex;

      .custom-sidebar-shop {
        display: none;
        @media (min-width: map-get($grid-breakpoints, lg)) {
          display: block;
          flex: 0 1 250px;
          font-size: 14px;
          font-weight: 400;
          margin-right: 100px;

          &__title {
            margin-bottom: 20px;
          }

          ul {
            list-style: none;
          }
        }

        .product-categories {
          li {
            &.current-cat {
              display: inline-block;
              font-weight: 700;
              border-bottom: 1px solid var(--black);
            }

            &:not(:last-child) {
              margin-bottom: 10px;
            }
          }
        }
      }
    }

    .woocommerce-pagination {
      display: flex;
      .page-numbers {
        list-style: none;
        margin: 0 auto;
        gap: 10px;
        display: inline-flex;
        align-items: center;
        justify-content: center;
        min-width: 34px;
        height: 34px;
        color: var(--color-gray-900);
        font-weight: 600;
        font-size: 14px;
        border-radius: calc(var(--wd-brd-radius) / 1.5);
        transition: all 0.2s ease;

        li {
          span {
            &.current {
              border-radius: 50px;
              color: #fff;
              background-color: var(--primary-theme);
            }
          }

          a {
            border-radius: 50px;
            @media (hover: hover) {
              &:hover {
                color: #fff;
                background-color: var(--primary-theme);
              }
            }
          }

          &:is(.next, .prev) {
            font-size: 0;
            &:before {
              font-size: 12px;
              content: "\f113";
              font-family: "woodmart-font";
            }
          }
        }
      }
    }
  }
}
