body {
  &.woocommerce-cart {
    font-size: 14px !important;
    background-color: var(--light-green-opacity) !important;
    .site-main {
      padding: 50px 0 20px;

      h2 {
        font-size: clamp(20px, 4vw, 25px);
        line-height: 1.2;
        margin-bottom: 20px;
      }

      .container {
        .woocommerce-notices-wrapper,
        .wc-empty-cart-message {
          padding: 20px 0;
          font-size: clamp(18px, 4vw, 25px);
          font-weight: 500;
          a {
            color: var(--primary-theme);
          }
        }

        display: flex;
        flex-wrap: wrap;
        gap: 20px;

        .woocommerce-cart-form,
        .cart_totals,
        .cart-collaterals {
          padding: 20px;
          border: 1px solid var(--grey);
          border-radius: 20px;
        }
        //shipping tr
        .woocommerce-shipping-methods {
          list-style: none;
          li {
            display: flex;
            flex-direction: row-reverse;
            gap: 10px;

            .woocommerce-Price-amount.amount {
              font-weight: 700;
            }
          }
        }
        .woocommerce-cart-form,
        .cart_totals,
        .cart-collaterals {
          flex: 1 1 100%;
        }

        .cart-collaterals {
          @media (min-width: map-get($grid-breakpoints, md)) {
            max-width: calc(70% - 20px);
          }
        }

        .woocommerce-cart-form {
          @media (min-width: map-get($grid-breakpoints, md)) {
            flex: 0 1 calc(70% - 20px);
          }
        }
        .cart_totals {
          @media (min-width: map-get($grid-breakpoints, md)) {
            flex: 1 1 calc(30% - 20px);
          }

          table {
            tr {
              align-items: center;
              border-bottom: 1px solid var(--grey);
            }
            th {
              font-weight: 900;
              font-size: 18px;
              text-align-last: left;
            }
            td {
              text-align: right;
            }
          }
        }
      }
    }
    .return-to-shop {
      display: block;
      padding: 20px 0;

      .button {
        border-radius: 50px;
        background-color: var(--black);
        color: var(--white);
      }
    }

    .wc-proceed-to-checkout {
      margin: 20px 10px;

      .button {
        // background-color: var(--black) ;
        max-width: 100%;
      }
    }

    .checkout-button,
    .btn__primary {
      padding: 10px 15px;
      border-radius: 20px;
      font-size: 13px;
      border: 1px solid transparent;
      text-transform: uppercase;
      background-color: var(--black) !important;
      color: var(--white) !important;
      border: 1px solid transparent !important;
      transition: 0.35s;
      &:hover {
        color: var(--black) !important;
        background-color: var(--white) !important;
        border: 1px solid var(--black) !important;
        cursor: pointer;
      }
    }

    [aria-disabled="true"] {
      background: var(--black);
      color: rgba(0, 0, 0, 0.5);
      border: 1px solid rgba(0, 0, 0, 0.5);
    }

    .actions {
      text-align: left !important;
      display: flex;
      flex-wrap: wrap;
      gap: 10px;

      label {
        flex: 1 1 100%;
        text-align: left !important;
        display: block;
      }
      .coupon {
        display: flex;
        gap: 20px;
        width: 100%;
        @media (max-width: map-get($grid-breakpoints, md)) {
          flex-wrap: wrap;
        }

        .input-text {
          padding: 10px 15px;
          color: var(--black);
          width: 70%;
          border-radius: 20px;
          border: 2px solid var(--grey);
          @media (min-width: map-get($grid-breakpoints, md)) {
            width: 100% !important;
          }
        }

        button {
          max-width: 100%;
          flex: 1 1 100%;
          font-family: var(--objective);
        }
      }
    }

    .actions {
      [name="update_cart"] {
        display: none;
      }
    }

    .woocommerce-message {
      a {
        color: var(--black);
      }
    }

    .cart-collaterals {
      width: 100%;
      // display: flex;
      // flex-direction: row-reverse;

      // .cart_totals.calculated_shipping {
      //   float: left;
      //   width: 48%;
      // }
    }

    thead,
    .title-subtotal-cartform,
    .d-none-small {
      @media (max-width: map-get($grid-breakpoints, md)) {
        display: none !important;
      }
    }

    td {
      @media (max-width: map-get($grid-breakpoints, md)) {
        display: block;
        padding: 8px;
        font-size: 14px;
        text-align: right;
        // padding-left: 30px;
        border-bottom: 1px solid #ddd;
        &::before {
          content: attr(data-title) "";
          font-weight: 600;
          float: left;
        }
      }
    }

    table {
      width: 100%;
      box-shadow: rgb(0 0 0 / 15%) 0 3px 3px 0;
      text-align: center;
      caption-side: bottom;
      border-collapse: collapse;
      a {
        color: #000;
      }
    }

    tbody,
    td,
    tfoot,
    th,
    thead,
    tr {
      border-color: inherit;
      border-style: solid;
      border-width: 0;
    }

    // table th {
    //   color: var(--white);
    //   font-weight: 300 !important;
    // }

    tbody .cart_item {
      border-bottom: 1px solid #f8efe6;
      @media (max-width: map-get($grid-breakpoints, md)) {
        border-bottom: 2px solid #959595;
      }
    }

    table th,
    table td {
      padding: 10px;
    }

    .strong-cart td {
      font-weight: 600;
      padding: 15px 10px;
      // background-color: $light-gray;
    }

    .product-thumbnail {
      min-width: 80px;
      max-width: 80px;
      display: flex;

      @media (max-width: map-get($grid-breakpoints, md)) {
        display: none !important;
      }
    }

    .screen-reader-text {
      clip: rect(1px, 1px, 1px, 1px);
      word-wrap: normal !important;
      border: 0;
      -webkit-clip-path: inset(50%);
      clip-path: inset(50%);
      height: 1px;
      margin: -1px;
      overflow: hidden;
      padding: 0;
      position: absolute !important;
      width: 1px;
    }

    .quantity {
      button {
        font-size: inherit;
        &:hover {
          cursor: pointer;
        }
      }

      &::after {
        content: "";
        z-index: 1;
        width: 100%;
        height: 100%;
        left: 0;
        top: 0;
        // position: absolute;
      }

      input {
        padding: 0;
        border: none;
        background-color: transparent;
        text-align: center;
        font-weight: 600;
        z-index: -1;
        width: 40px;
      }
    }

    .qty {
      width: 100%;
      padding: 0.375rem 0.75rem;
      font-size: 1rem;
      font-weight: 300;
      line-height: 1.5;
      color: #212529;
      background-color: #fff;
      background-clip: padding-box;
      border: none;
      border-radius: 0;
      border-bottom: 1px solid #1b1b1b;
      transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    }

    .cart-qty {
      border: 1px solid #959595;
      font-weight: 600;
      padding: 0;
      width: 40px;
      height: 40px;
      line-height: 40px;
      text-align: center;
      background-color: #f6f7f7;
      border-radius: 40px;
      position: relative;
      z-index: 2;
    }

    .disabled {
      opacity: 0.5;
    }

    .body {
      &.woocommerce-cart {
        .shop_table {
          overflow: hidden;
          border-radius: 20px;
        }
      }
    }

    .woocommerce-info {
      a {
        color: var(--black);
      }
    }

    .woocommerce-cart-form__contents {
      tbody {
        tr {
          @media (max-width: map-get($grid-breakpoints, md)) {
            flex-direction: column;
          }
        }
      }
    }

    .shop_table_responsive {
      background-color: var(--white);
      box-shadow: none;
      tbody,
      thead {
        display: flex;
        flex-direction: column;

        tr {
          display: flex;
          width: 100%;

          th,
          td {
            flex: 1 1 calc(100% / 6);
            // padding: 15px;

            &.product-remove {
              flex: 1 1 50px;
              a {
                font-size: 35px;
              }
            }

            &.product-subtotal {
              font-weight: 900;
            }
          }
          [data-title="Łącznie"] {
            font-size: 20px;
          }
        }
      }
    }

    .cross-sells {
      margin-bottom: 60px;
      @media (min-width: map-get($grid-breakpoints, md)) {
        margin-bottom: 40px;
      }
      .products {
        &.slick-slider {
          .product {
            max-width: 100%;

            h2 {
              font-size: 14px;
            }

            &:not(:last-child) {
              margin-right: 20px;
            }
          }
        }

        .product {
          max-width: 100%;
          margin: 0;
          // flex: 0 1 calc((100% / 4) - 20px) !important;
          h2 {
            font-size: 14px;
          }
          .product__wrap-body_tags {
            display: none;
          }
        }
        .slick-dots {
          display: flex;
          position: absolute;
          border: none;
          bottom: -60px;
          left: 50%;
          transform: translateX(-50%);

          list-style: none;
          li {
            margin: 0 5px;
            width: 10px;
            height: 10px;
            border-radius: 50%;
            background-color: #ccc;
            transition: 0.3s;
            button {
              display: none;
            }
            &.slick-active {
              background-color: var(--primary-theme);
            }
            &:hover {
              cursor: pointer;
              background-color: var(--black);
            }
          }
        }
      }
    }
  }
}
