body {
  &.single-product {
    .product {
      &.sale {
        .price {
          ins {
            text-decoration: none;
          }

          del {
            .woocommerce-Price-amount.amount {
              font-weight: 500;
              font-size: 14px;
              color: var(--black);
            }
          }
        }
      }
      .price {
        .woocommerce-Price-amount.amount {
          font-weight: 700;
          font-size: 22px;
          text-decoration: none;
          color: var(--primary-theme);
        }
      }
    }
    .woocommerce-breadcrumb {
      flex: 1 1 100%;
      margin-bottom: 20px;
    }
    .product-top-data {
      display: flex;
      flex-wrap: wrap;
      gap: 20px;
      @media (min-width: map-get($grid-breakpoints, lg)) {
        gap: 0 50px;
      }
      .slider-product-wrap,
      .summary {
        flex: 1 1 100%;
        width: 50%;
      }
      .slider-product-wrap {
        @media (min-width: map-get($grid-breakpoints, md)) {
          max-width: calc(55% - 50px);
        }
        @media (min-width: map-get($grid-breakpoints, lg)) {
          flex: 0 1 calc(55% - 50px);
          position: sticky;
          height: 100%;
        }
      }

      .summary {
        @media (min-width: map-get($grid-breakpoints, md)) {
          max-width: calc(45% - 50px);
        }
        @media (min-width: map-get($grid-breakpoints, lg)) {
          flex: 0 1 calc(45% - 50px);
        }

        .woocommerce-product-rating {
          display: none;
        }
      }
    }
  }
}

.up-sells {
  > h2 {
    margin-bottom: 20px;
  }
  .products {
    flex-wrap: wrap;
    > .product {
      flex: 1 1 100%;
      // max-width: calc((100% / 2) - 10px);

      .add_to_cart_button {
        font-size: 11px;
      }

      .iworks-omnibus {
        display: none;
      }
    }
  }
}
