.product {
  display: flex;
  flex-direction: column;
  // gap: 10px;
  a {
    width: 100%;
    &:first-child {
      // background-color: red;
      flex: 1 1 100%;
    }
  }

  &__wrap-image {
    position: relative;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;

    .extra_label {
      background-color: var(--primary-theme);
      padding: 5px 10px;
      font-size: 13px;
      border-radius: 50px;
      font-weight: 700;
      color: var(--white);
      position: absolute;
      top: 15px;
      left: 15px;
      text-transform: uppercase;
    }

    img {
      object-fit: cover;
      width: 100%;
    }
  }
  .add_to_cart_button {
    margin: 10px 0;
  }

  &__wrap-body {
    flex: 1 1 100%;
    display: flex;

    flex-direction: column;
    background-color: #f7f7f7;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    padding: 10px;
    &,
    .woocommerce-loop-product__title {
      font-size: 14px;
    }

    &_title,
    &_price {
      display: flex;
      align-items: center;
    }

    &_title {
      .woocommerce-loop-product__title {
        flex: 1 1 60%;
        font-size: 16px;
      }
    }

    &_price {
      flex-wrap: wrap;
      // gap: 10px;
      .product_claim {
        flex: 1 1 100%;
        margin-top: 10px;
      }

      .price {
        display: flex;
        flex-direction: row-reverse;
        align-items: center;
        gap: 10px;
        ins {
          text-decoration: none;
          .woocommerce-Price-amount.amount {
            font-weight: 700;
            font-size: 22px;
            color: var(--primary-theme);
          }
        }

        del {
          font-weight: 500;
        }
      }
    }

    &_tags {
      list-style: none;
      display: flex;
      flex-wrap: wrap;
      gap: 5px;

      li {
        font-size: 10px;
        padding: 5px 1em;
        border: 1px solid var(--tag-grey);
        border-radius: 50px;
        font-weight: 400;
        a {
          color: var(--tag-grey);
        }
      }
    }
  }

  .button__black {
    max-width: 100%;
    text-transform: uppercase;
  }

  .added_to_cart {
    display: none;
  }
}
