body {
  &.woocommerce-checkout {
    .site-main {
      .container {
        margin: 50px auto;

        ul {
          list-style: none;
        }

        .woocommerce-error {
          margin: 0;
          background-color: var(--white);
          border-bottom-left-radius: 20px;
          border-bottom-right-radius: 20px;
        }

        .woocommerce-shipping-fields {
          padding-left: 3px;

          #ship-to-different-address-checkbox {
            margin-right: 10px;
          }
        }

        .woocommerce-form-login-toggle {
          .woocommerce-info {
            padding: 1em 2em;
            margin: 0 0 2em;
            position: relative;
            background-color: var(--black);
            color: var(--white);
            border-top: none;
            list-style: none outside;
            width: auto;
            word-wrap: break-word;
            font-size: 14px;
            border-radius: 50px;

            @media (min-width: map-get($grid-breakpoints, lg)) {
              max-width: 400px;
            }

            &::before {
              content: none;
            }

            .showlogin {
              color: var(--light-green);
            }
          }
        }

        .woocommerce-customer-details {
          address {
            @media (max-width: map-get($grid-breakpoints, md)) {
              margin-bottom: 2em;
            }
          }
        }

        .woocommerce-billing-fields__field-wrapper {
          display: flex;
          // flex-direction: column;
          gap: 10px;
          flex-wrap: wrap;
          p {
            width: 100%;
            &:first-child,
            &:nth-child(2) {
              flex: 0 1 calc(50% - 10px);
              width: 50%;
            }
          }
        }

        .checkout {
          &.woocommerce-checkout {
            display: flex;
            gap: 30px 50px;
            flex-wrap: wrap;
            @media (min-width: map-get($grid-breakpoints, xl)) {
              gap: 30px 100px;
            }

            .woocommerce-NoticeGroup.woocommerce-NoticeGroup-checkout,
            .woocommerce-NoticeGroup.woocommerce-NoticeGroup-updateOrderReview {
              flex: 1 1 100%;
            }

            #payment {
              background: transparent;
              .wc_payment_methods.payment_methods.methods {
                border-bottom: none;
              }
            }

            #shipping_method {
              padding: 1em;

              li {
                &,
                label {
                  display: flex;
                }

                label {
                  width: 100%;
                  max-width: 300px;
                  .woocommerce-Price-amount.amount {
                    margin-left: auto;
                  }
                }
              }
            }

            .left,
            .right {
              flex: 1 1 100%;
              > div {
                gap: 20px;
                display: flex;
                flex-wrap: wrap;
              }
              @media (min-width: map-get($grid-breakpoints, lg)) {
                flex: 1 1 calc(50% - 100px);
              }
            }

            .left {
              display: flex;
              gap: 10px;
              margin-top: -10px;
              flex-direction: column;

              select {
                height: 0;
                border: none;
              }

              .required {
                color: red;
                font-weight: 700;
                border: 0 !important;
                text-decoration: none;
              }
            }

            .right {
              // background-color: var(--white);
              border-radius: 30px;
              height: fit-content;

              @media (min-width: map-get($grid-breakpoints, md)) {
                // padding: 40px;
                position: sticky;
                top: 170px;
              }

              #place_order {
                background-color: var(--black);
                width: 100%;
                text-align: center;
                font-size: 14px;
                border-radius: 50px;
                padding: 1em;
                border: none;
                max-width: 100%;
                font-weight: 500;
                color: var(--white);
                text-transform: uppercase;
                font-family: var(--object);
                @media (hover: hover) {
                  &:hover {
                    cursor: pointer;
                  }
                }
              }

              table {
                border: 1px solid var(--tag-grey);
                border-radius: 20px;
                padding: 20px;
                width: 100%;
                tbody,
                tfoot {
                  display: flex;
                }

                tbody {
                  flex-direction: column;
                  gap: 10px;
                  margin-bottom: 20px;
                  tr {
                    &.cart_item {
                      display: flex;
                      align-items: center;
                      gap: 20px;
                      border-bottom: 1px solid var(--black);

                      td {
                        border-top: none;
                        &.product-thumbnail {
                          padding: 0;
                          img {
                            border-radius: 20px;
                            object-fit: cover;
                            max-width: 100px;
                          }
                        }

                        &.product-name-quantity {
                          flex: 1 1 100%;
                          .product-name {
                            font-size: 16px;
                            font-weight: 500;
                          }

                          .product-quantity {
                            .quantity {
                              max-width: 100px;
                              display: flex;
                              flex: 1 1 25%;
                              border: 2px solid var(--black);
                              justify-content: space-between;
                              border-radius: 50px;
                              margin-right: 20px !important;
                              background-color: var(--white);
                              overflow: hidden;
                              @media (max-width: map-get($grid-breakpoints, md)) {
                                flex: 1 1 35%;
                              }

                              button,
                              input {
                                border-radius: 50px;
                                border: none;
                                font-size: 16px;
                                background-color: var(--white);
                              }

                              button {
                                flex: 1 1 30%;
                                width: 30px;
                                display: flex;
                                align-items: center;
                                justify-content: center;
                                transition: 0.25s;
                                color: var(--dark-green);

                                @media (hover: hover) {
                                  &:hover {
                                    cursor: pointer;
                                    background-color: var(--light-green);
                                  }
                                }
                              }

                              input {
                                max-width: 25px;
                                flex: 1 1 20%;
                                text-align: center;
                                align-items: center;
                                justify-content: center;
                              }

                              input::-webkit-outer-spin-button,
                              input::-webkit-inner-spin-button {
                                -webkit-appearance: none;
                                margin: 0;
                              }

                              /* Firefox */
                              input[type="number"] {
                                -moz-appearance: textfield;
                                pointer-events: none;
                                padding: 0;
                              }
                            }
                          }
                        }

                        &.product-name-quantity,
                        &.wrap {
                          display: flex;
                          flex-direction: column;
                          justify-content: space-between;
                          gap: 20px;
                        }
                        &.wrap {
                          .product-total {
                            bdi {
                              font-weight: 600;
                              .woocommerce-Price-currencySymbol {
                                margin-left: 5px;
                              }
                            }
                          }
                          .product-remove {
                            margin-left: auto;
                          }
                        }
                      }
                    }
                  }
                }

                tfoot {
                  flex-direction: column;
                  tr {
                    display: flex;
                    th,
                    td {
                      flex: 1 1 100%;
                      border-top: none;
                      font-size: 16px;
                    }
                    th {
                      font-weight: 500;
                      text-align-last: left;
                    }
                    &:last-child {
                      th {
                        font-weight: 900;
                      }
                    }

                    td {
                      text-align: right;
                    }
                  }
                }
              }

              .woocommerce-terms-and-conditions-wrapper,
              .checkoutCopon {
                margin-bottom: 20px;
              }

              .cross-sell-products {
                h3 {
                  margin-bottom: 20px;
                }
                .products {
                  .product {
                    flex: 1 1 100%;
                    max-width: calc(50% - 20px);
                    .product_claim {
                      display: none;
                    }

                    &__wrap-body_tags {
                      display: none;
                    }
                  }
                }
              }

              .checkoutCopon {
                .checkoutCopon-toggleObject {
                  .checkout_coupon {
                    display: flex;
                    align-items: center;
                    gap: 20px;
                    .couponField {
                      flex: 1 1 60%;
                    }

                    .input-text {
                      padding: 0.75em;
                    }

                    .couponBtn {
                      flex: 1 1 40%;

                      #checkout_apply_coupon {
                        text-transform: uppercase;
                        background-color: var(--primary-theme);
                        border-radius: 50px;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        padding: 0.75em;
                        font-size: 15px;
                        font-weight: 500;
                        color: var(--white);
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}

.select2-container--default
  .select2-selection--single
  .select2-selection__arrow {
  top: 50%;
  transform: translateY(-50%);
  right: 10px;
}
/* Style for the Select2 container */
.select2-container--default .select2-selection--single {
  // background-color: var(--grey);
  /* Background color */
  border: 1px solid var(--black); /* Border style */
  border-radius: 50px; /* Rounded corners */
  padding: 20px; /* Padding inside the select box */
  font-size: 16px; /* Font size */
  width: 100%; /* Full width */
  display: flex;
  align-items: center;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}
.select2-container--default .select2-selection--single[aria-expanded="true"] {
  border-radius: 50px !important;
}

.select2-results__option[data-selected="true"] {
  background-color: var(--white) !important;
  @media (hover: hover) {
    &:hover {
      color: #000 !important;
    }
  }
}

/* Style for the Select2 dropdown */
.select2-container--default .select2-results__option {
  background-color: #fff; /* Background color */
  color: #333; /* Text color */
  padding: 8px; /* Padding */
  font-size: 16px; /* Font size */
  border: none;
}

/* Additional customization */
.select2-container--default .select2-selection--single {
  font-family: "Arial", sans-serif; /* Font style */
  margin: 5px 0; /* Margin around the select box */
  transition: border-color 0.3s ease, box-shadow 0.3s ease; /* Smooth transition effects */
}
.select2-dropdown.select2-dropdown--below {
  border-radius: 19px;
  padding: 10px;
  // top: -10px;
  .select2-search.select2-search--dropdown {
    display: none;
  }

  .select2-results__options {
    .select2-results__option {
    }

    .select2-results__option--highlighted[aria-selected] {
      /* Background color for highlighted option */
      color: white;
      border-radius: 20px; /* Text color for highlighted option */
    }
  }
}
